body {
    margin: 0;
    background: #525252;
    background: -webkit-linear-gradient(to right, #3d72b4, #525252);
    background: linear-gradient(to right, #3d72b4, #525252);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    overflow: hidden;
    background-color: rgb(75, 73, 73);
    width: 100%;
    margin-top: 0px;
    position: fixed;
}

.navigation a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.8em;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
    font-size: 16px;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    text-indent: 60px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
}